{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
      <div class="col-md-6">
         <div class="sidebar-sticky">
            <img src="{{ about_data.picture.url }}" width="100%">
         </div>
      </div>
      <div class="col-md-6" >
            <div class="container-fluid" align="left">
                <div class = "row">
                   <div align="left" class="col-md-12">
                        <h2>{{ about_data.title }}</h2>
                        <p>{{ about_data.text }}</p>
                   </div>
                </div>
            </div>
      </div>
    </div>
{% endblock %}