{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container" >
      <div class="card-deck mb-3">
          {% for i in blogs%}
            <div class="card mb-4 box-shadow" >
              <div class="card-header">
                <h4 class="my-0 font-weight-normal text-center">{{ i.title }}</h4>
              </div>
              <div class="card-body" >
                <h1 class="card-title pricing-card-title text-center">{{ i.price }} ₽</h1>
                  <p class="text-justify">{{ i.text}}</p>

              </div>
            </div>
         {% endfor %}
      </div>
    </div>
{% endblock %}