{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="wf-section">
 <div class="w-container">
  <div class="w-row">
   <div class="blog-title-wrapper w-col w-col-3">
    <h1 class="blog-title">{{ blog.title  }}</h1>

   </div>
   <div class="w-col w-col-6">
    <div class="w-richtext">
     <p>{{ blog.text  }}</p>
    </div>
   </div>
   <div class="w-col w-col-3">
    <div class="small-list w-dyn-list">
     <div role="list" class="w-dyn-items">
        {% load photo_tags %}
        {% get_blog as blogs %}
         {% for blog in blogs %}
      <div role="listitem" class="w-dyn-item">
       <a href="{{ blog.get_absolute_url }}" aria-current="page" class="small-blog-link w-inline-block w--current">
        <h4 class="small-blog-title">{{ blog.title }}</h4>
        <div class="blog-info-text">{{ blog.date }}</div>
       </a>
      </div>
         {% endfor %}
     </div>
    </div>
   </div>
  </div>
 </div>
</div>



{% endblock %}